 <h1><%= @current_user.username%></h1>

<dl>
  <dt>Private</dt>
  <dd>false</dd>

  <dt>Followers</dt>
  <dd>
    0
  </dd>

  <dt>Following</dt>
  <dd>0</dd>
<nav>
  <ul>
    <li>
      <a href="/users/<%= @current_user.username%>">Profile</a>
    </li>
    <li>
      <a href="/users/<%= @current_user.username%>/liked_photos">Liked photos</a>
    </li>
    <li>
      <a href="/users/<%= @current_user.username%>/feed">Feed</a>
    </li>
    <li>
      <a href="/users/<%= @current_user.username%>/discover">Discover</a>
    </li>
  </ul>
</nav>
</dl>

<h2>Liked photos (0)</h2>

<table border="1">
  <tr>
    <th>
      Image
    </th>

    <th>
      Owner
    </th>

    <th>
      Caption
    </th>

    <th>
      Posted
    </th>

    <th>
      Likes
    </th>

    <th></th>
  </tr>


<% if @list_of_likes != nil %>
<% @list_of_likes.each do |a_like| %>
      <tr>
        <td>
        <%= a_like.photo.image %>
        </td>

        <td>
        <%= a_like.photo.owner_id %>

        <td>
          <%= time_ago_in_words(a_like.updated_at) %> ago
        </td>

        <td>
          </td>

        <td>
          <a href="/photos/<%= a_like.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
      <% end %>

</table>
